* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	color: red;
	text-align: center;
	padding: 50px;
}

.title {
	text-transform: uppercase;
	color: green;
	padding: 10px;
}
