* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	border: 5px solid orange;
	padding: 0 10%;
}
main {
	border: 5px solid green;
	padding: 0 20px;
	font-size: 18px;
}
header {
	color: red;
	padding: 20px;
	margin: 20px;
}
#header {
	background-image: url('./images/banner.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 200px;
}
#banner {
	background-color: rgba(234, 177, 73, 0.555);
	position: absolute;
	top: 160px;
	width: 100%;
	text-align: center;
	color: white;
	font-weight: bold;
}
nav {
	position: relative;
	top: 210px;
	text-align: center;
}
nav ul li {
	display: inline-block;
	padding: 5px;
}
li:hover {
	background-color: orange;
}
nav ul li a {
	padding: 10px;
	text-decoration: none;
}
nav li ul {
	position: absolute;
	display: none;
	width: inherit;
}
nav li:hover ul {
	display: block;
	width: 250px;
	background-color: orange;
	text-align: left;
	margin-left: -5px;
}
nav li ul li:hover {
	background-color: grey;
	width: 100%;
	display: inline-block;
}

#main {
	position: relative;
	top: 150px;
}

#footer {
	font-family: 'Ms Madi', cursive;
}
